Welcome to Magic 8 Ball!
If you already have a account, log in here: <form action="/login">
    <input type="submit" value="Log In" />
</form>
If not register here:
<form action="/register">
    <input type="submit" value="Register" />
</form>
